@import url("./__title/form-field__title.css");
@import url("./__name/form-field__name.css");
@import url("./__about-me/form-field__about-me.css");
@import url("./__button/form-field__button.css");
@import url("./__close-button/form-field__close-button.css");

.form-field {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  width: 282px;
  height: 330px;
  border-radius: 5px;
  margin: auto;
  top: 140px;
}

@media (min-width: 1024px) {
  .form-field {
    width: 430px;
    height: 330px;
    top: 132px;
  }
}
