.profile__edit-button {
  background-image: url("../../../images/tick.svg");
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: center;
  width: 18px;
  height: 18px;
  background-color: black;
  align-self: center;
  padding: inherit;
  border: 1px solid white;
}

.profile__edit-button:hover {
  background-image: url("../../../images/greytick.png");
  border: 1px solid rgba(255, 255, 255, 0.6);
}

@media (min-width: 1024px) {
  .profile__edit-button {
    width: 24px;
    height: 24px;
    align-self: unset;
    margin-top: 77px;
  }
}
