.container__close-button {
  background-image: url(../../../../images/closeicon.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  position: relative;
  top: 140px;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.container__close-button:hover {
  background-image: url(../../../../images/closeicongrey.svg);
  transform: rotate(45deg);
}
