.photo-card__delete-button {
    background-image: url("../../../images/Trashwhitedeleteicon.svg");
    background-size: 18px 16px;
    background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  background-position: center;
  position: relative;
  top: -264px;
  left: 252px;
}

.photo-card__delete-button:hover {
    background-image: url(../../../images/Trashgreydeleteicon.svg);
  }