.modal-field__about-me {
  width: 210px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin: 29px 36px 0;
}

@media (min-width: 1024px) {
  .modal-field__about-me {
    width: 358px;
  }
}

.modal-field__about-me:invalid{
  border-bottom: 1px solid red;
}