@import url("./popup_opened.css");
@import url("./form_picture.css");
@import url("./popup_image.css");
@import url("./popup_title.css");
@import url("./picture_container.css");

.popup{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1;
        display: none;
}