@import url("../vendor/normalize.css");
@import url("../fonts/fonts.css");
@import url(../page/header/header.css);
@import url("../page/profile/profile.css");
@import url("./form/form.css");
@import url("./form/form_opened.css");
@import url("./photos/photos.css");
@import url("./photo-card/photo-card.css");
@import url("./footer/footer.css");

.page {
  background-color: #000000;
  margin: 0;
  font-family: inter, sans-serif;
}
